@import "project.less";
@import "smart-grid.less";

.reset();

.wrapper{
	.wrapper();
}

// body {
//     font-family: "PT sans", Arial, Helvetica, sans-serif;
//     font-size: 14px;
//     line-height: 24px;
//     font-weight: 700;
//     color: #fff;
//     text-transform: uppercase;

//     background-color: #000000;
//     // background-image: url("/img/back-desktop.jpg");
//     background-position: top center;
//     background-repeat: no-repeat;
// }

.debug{
	.debug(rgba(0, 0, 0, 0.3), 1px solid #ff0);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.top-nav {
    width: 100%;
    background-color: #ff0;
    padding: 10px 0;  
}

.top-bar {
    .row-flex();
    justify-content: space-between;
    // background-color: #ff0;
    // padding: 10px 0;
}

.top-bar ul {
    .col();
    // .size(12);
}

.top-bar ul li {
display: inline;

}


.top-menu-nav {
    // .row-flex();
    display: flex;
    justify-content: space-between; 
}

.top-menu-nav ul li {
    display: inline;
    padding-left: 20px;
    // border: 1px solid #ff0;
}

.top-menu {
    width: 100%;
    background-color: antiquewhite;
    padding: 30px 0;
}


.product {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.959);
}
// .top-contacts {
//     // text-align: right;
//     // justi fy-content: flex-end;
//     // margin-left: auto;
// }

// .top-menu-nav li {
//     display: inline-block;
//     text-align: right;
// }

// .main-nav__list{
//     .row-flex();
//     .md(justify-content, center);
 

// }

// .main-nav__list li {
//     .col();
//     .size(8);
//     .size-md(2);
//     .size-xs(2);
// };



